.flex-horizontal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flex-vertical{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#root{
  width: 100vw;
  height: 100vh;
  margin: 1vmin;
}
*{
  border: 1px solid black;
}
.registers{
  height: 10vh;
  width: 91vw;
}
.code-container{
  height: 80vh;
  width: 50vw;
}
#code{
  width: 48vw;
  height: 70vh;
}
.memory{
  height: 80vh;
  width: 20vw;
}