/* 
    Common classes and variables
*/

:root{
  --header-height: 8vmin;
  --footer-height: 7vmin;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
  --memory-width: 20vmin;
  --register-height: 4em;/*calc(0.1* var(--main-height));*/
  --memory-height: calc(var(--main-height) - var(--register-height));
}

.flex-horizontal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flex-vertical{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*  Body  */
body{
  background-color: #f5f5f5;
}

/* Header */
header{
  width: 100vw;
  height: var(--header-height);
}
.header {
  font-size: 5vmin;
  font-family: 'Luminari', fantasy; 
  font-weight: bold;
  padding: 10px;
}

/* main body */
main{
  width: 100vw;
  height: var(--main-height);
}
.registers{
  height: var(--register-height);
  width: 91vw;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  align-items: start;
  justify-content: start;
  border: 1px solid black;
}
.register{
  border: 1px solid black;
}
.code-container{
  height: var(--memory-height);
  width: 50vw;
}
#code{
  width: calc(2.5* var(--memory-width));
  height: calc(0.9 * var(--memory-height));
}
.memory{
  height: var(--memory-height);
  width: var(--memory-width);
  border: 1px solid black;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
.mem-byte{
  width: 100%;
  justify-content: flex-start !important;
  border: 0.5px solid black;
}
.mem-byte .address{
  border: 0.5px solid black;
  margin-right: 10px;
}


/* Footer */

footer{
  width: 100vw;
  height: var(--footer-height);
}
#footer-elements{
  margin-top: 2vmin;
  font-size: 2vmin;
  justify-content: space-between;
}
#social-icons{
  align-self: left;
  margin-left: calc(55vw - var(--canvas-size)/2);
}
.icon{
  margin: 3px;
}
#source-code{
  margin-right:calc(45vw - var(--canvas-size)/2) ;
}